@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

///////////////////////////
//MEDIA QUERY MANAGER

/*
0-600px ----> Phone

600-900px ----> Tablet Portrait

900-1200px ----> Tablet Landscape

1200-1800px ----> Desktop

1800px + ---> Big Desktop

//Breakpint arguments choices
- phone
- tab-port
_ tab-land
_ big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($device) {
  @if $device == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $device == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $device == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $device == big-desktop {
    @media (min-width: 112.5em) {
      //1800px +
      @content;
    }
  }
}

/*
//1
@media (max-width: 600px) {
  .story {
    width: 50%;
  }
}

//2
.story {
  @media (max-width: 600px) {
    width: 50%;
  }
}

//3
@mixin respond {
  @media (max-width: 600px) {
    @content;
  }
}

.story {
  @include respond {
    font-size: 50%;
  }
}

//4

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.story {
  @include respond(600px) {
    width: 50%;
  }
}

//5

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.story {
  @include respond(phone) {
    width: 50%;
  }
}
*/
